.form-column {
  margin-right: 5.5rem;
  max-width: 330px;
}

.container-ro {
  -webkit-box-shadow: 0px 0px 47px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 47px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 47px -4px rgba(0, 0, 0, 0.75);
  max-height: 580px;
}

.bg-image {
  z-index: -1;
}

.loaderdiv {
  box-sizing: border-box;
}

@media (min-width: 1280px) and (max-width: 1560px) {
  .field-wrapper {
    padding: 5px 5px !important;
    width: 381px !important;
  }
  .container-ro {
    width: 1200px !important;
    max-height: 555px;
  }
  .form-column {
    margin-right: 2.5rem !important;
    max-width: 330px;
  }
}
