.form-column {
  margin-right: 5.5rem;
  max-width: 330px;
}
h2 {
  color: #1a054b;
}
h4 {
  font-weight: 500;
}
h5 {
  color: #1c6ea4;
}

@media (min-width: 1280px) and (max-width: 1560px) {
  .form-column {
    margin-right: 2.5rem !important;
    max-width: 330px;
  }
}
